<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>charmie</title>

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="controller.js"></script>
    <script src="my_jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="whyLike.css">
 </head>
 <body ng-app="webApp" ng-controller="whyLikeController" style="background-color:#FFC0CB">

    <div class="centerAlign awayFromTop" style="padding-top:20px;">
        <img src="images/IMG_1489.jpg" class="rounded-circle" alt="Cinque Terre" height="500px" style="border: 3px solid white;">
    </div>


    <!-- css stuff for New Years -->
    <div class="feliz">Happy new year</div>
    <div class="ano_novo">
    <span>201</span>
    <span class="seis">8</span>
    <span class="sete">9</span>
    <div class="balao"></div>
    </div>
    <div class="fogos">
    <div class="f1">
        <span><i></i></span>
        <span><i></i></span>
        <span><i></i></span>
    </div>
    <div class="f2">
        <span><i></i></span>
        <span><i></i></span>
        <span><i></i></span>
    </div>
    <div class="f3">
        <span><i></i></span>
        <span><i></i></span>
        <span><i></i></span>
    </div>
    <div class="f4">
        <span><i></i></span>
        <span><i></i></span>
        <span><i></i></span>
    </div>
    </div>

    <div class="centerAlign awayFromTop2 awayFromBottom" style="white-space:nowrap">
        <span class="font1" style="font-size:50px; color:white; text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;" >I Love you because...</span>
    </div>

    <div class="container-fluid centerAlign awayFromBottom bringUp" style="white-space:nowrap">
        <input type="text" class="btn text-left font2" style="width: 75%; border: 1px solid black;" placeholder="Write Reason Here..."  ng-model="reasonComment">
        <button class="btn font2" style="border: 1px solid black;" ng-click="addReason()">Add</button>
    </div>
    
    <div class="centerAlign bringUp" style="white-space:nowrap" ng-repeat="reason in allReasons">
        <span class="font2" style="margin-right: 50px; font-size:30px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" >{{reason.comment}}</span>
        <span class="font2" style="padding-left: 50px; font-size:10px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" >{{convertDate(reason.date)}}</span>
        <span class="font2" style="font-size:10px; margin-left: 20px;">|</span>
        <a class="font2" style="font-size:10px; margin-left: 20px;" ng-click="removeReason(reason._id)">delete</a>
    </div>

 </body>
</html>